{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
<!--Bootstrap css,js,icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
<!--Static folder-->
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<div class="row"  style="background-color: rgba(255, 255, 255, 0.87);width: 101%;" id="home">
    <div class="col-12" >
<!--NAVBAR-->
        <nav class="navbar navbar-expand-lg shadow-sm" style="width: 101%;" >
            <div class="container-fluid"  style="background-color:#0d1b2a">
                <img src="{% static 'images/logo.png' %}" alt="logo" id="logo"> 
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav" class="col-8" >
                    <ul class="navbar-nav" id="nav-element">
                        <li class="nav-item" >
                            <a class="nav-link active" aria-current="page" href="#home">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'add_complaint' %}">COMPLAINT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#about">ABOUT US</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#how">HOW IT WORKS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#footer">CONNECT WITH US</a>
                        </li>
                    </ul> 
                </div>
                    <h3 style="padding-right: 1%;">  
                        <button style="border-radius: 60%;"> <i class="bi bi-person-circle" > </i> </button>
                        <div style="color: rgba(236, 236, 236, 0.842);font-size: small;">
                            {{ user.username }}
                        </div> 
                    </h3>
                    <h3 style="padding-right: 2%;">
                        <a href="{% url 'logout' %}"><button style="border-radius: 60%;"> <i class="bi bi-box-arrow-left"></i></button></a>
                        <div style="color: rgb(255, 255, 255);font-size: small;">
                            Logout
                        </div>
                    </h3>
            </div>
        </nav> 
        
<!--Carousel-->
        <div class="main-carousel">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2500">
                <div class="carouselExampleIndicators">
                    <div class="carousel-item active">
                        <img src="{% static 'images/img1.png'%}" id="carousel-img" alt="img2" data-bs-interval="2500">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/img2.jpg'%}" id="carousel-img" alt="img3" data-bs-interval="2500">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/img-3.png'%}" id="carousel-img" alt="img3" data-bs-interval="2500">
                    </div>
                </div>
                <div class="carousel-overlay">
                    <div class="carousel-content text center">
                        <h1>Complaint Management System</h1>
                        <p>“A simple and transparent way to register and track your complaints”</p>
                        <a href="{% url 'add_complaint' %}" class="btn btn-primary me-2">Register Complaint</a>
                        <a href="{% url 'complaints_list' %}" class="btn btn-outline-light">Track your Complaint</a>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev" style="padding-right: 10%;" id="Carousel-button">
                   <h2><i class="bi bi-chevron-left"></i></h2> 
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next" style="padding-left: 10%;" id="Carousel-button">
                   <h2><i class="bi bi-chevron-right"></i></h2> 
                    <span class="visually-hidden">Next</span>
                </button>
            </div> <br>
        </div>

<!--ABOUT-->
        <section id="about" >
            <div id="about-col" >
                <h2>🛈 ABOUT US</h2>
                <div >
                    <h4 style="text-align: center;text-decoration:underline;text-decoration-color: black; padding-top: 3%;word-spacing: 1px;">
                        Complaint Management System
                    </h4>
                    <h5 style="padding-top: 2%; margin-bottom: 10%;text-align: center;font-size: 21px;word-spacing: 2px;font-family: 'Times New Roman', Times, serif; font-size: 160%;text-align: justify;padding-left: 5%;">
                        Complaint management is the process of handling, managing, responding to, and reporting customer grievances. <br>
                        This process requires a streamlined approach and constant monitoring to ensure faster resolutions.  <br>
                        Our Complaint Management System helps users register complaints online, track their status <br>
                        and receive timely resolutions. It improves transparency and efficiency between users and authorities.
                    </h5>
                    <h4 style="text-align: center; font-size: large;">
                        <i class="bi bi-hand-thumbs-up-fill " style="font-style: italic; ">50k+ Likes</i>
                        <i class="bi bi-graph-up" style="padding-left: 5%; font-style: italic;"> 55,000+ Users across the globe</i>
                    </h4>
                </div>
            </div> 
        </section>

<!--How it works-->
        <section class="how-it-works" id="how">
            <div class="container">
                <h2 class="section-title text-center">How It Works</h2>
                <p class=" text-center">
                    Follow these simple steps to register and resolve your complaints.
                </p>
                <div class="row mt-5">
                    <div class="col-md-3" >
                        <div class="step-card text-center" >
                            <i class="bi bi-pencil-square step-icon" class="step-icon" ></i>
                            <h5>Register Complaint</h5>
                            <p>Submit your complaint online with the required details.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="step-card text-center">
                            <i class="bi bi-person-check step-icon" class="step-icon" ></i>
                            <h5>Complaint Review</h5>
                            <p>The complaint is reviewed and assigned for action.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="step-card text-center">
                            <i class="bi bi-arrow-repeat step-icon" class="step-icon" ></i>
                            <h5>Status Update</h5>
                            <p>Track your complaints status anytime from your account.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="step-card text-center">
                            <i class="bi bi-person-check step-icon" class="step-icon" ></i>
                            <h5>Resolution</h5>
                            <p>The Complaint is resolved within 48 hours with proper response .</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div> 
   
<!--footer-->
    <footer id="footer" class="footer">
        <div class="footer-content">
            <div style="padding-top: 3.5%;">
                <h5>Complaint Management System</h5>
                <p>
                A simple online platform to register and track complaints efficiently.
                </p> <br>
                <div class="footer-links">
                    <a href="#home">Home <span style="padding-left: 1%; font-weight: bolder;">|</span></a>
                    <a href="#how">How It Works <span style="padding-left: 1%; font-weight: bolder;">|</span></a>
                    <a href="{% url 'add_complaint' %}">Make Complaint <span style="padding-left: 1%; font-weight: bolder;">|</span></a>
                    <a href="#footer">Contact us <span style="padding-left: 1%; font-weight: bolder;">|</span></a>
                </div> 
            </div>
            <p class="footer-contact">
               <i class="bi bi-envelope-fill"></i> Email: <span style="color: blue;">support@cms.com </span> | <i class="bi bi-telephone-outbound-fill"></i> Phone: <span style="color: blue;">+91 98765 43210 </span>
            </p> <hr>
            <div class="col-4" style="text-align: left; padding-left: 5%;">
            <h6>Hear more about us on :</h5>
                <i class="bi bi-instagram"> Instagram</i><br>
                <i class="bi bi-linkedin"> Linkedin</i> <br>
                <i class="bi bi-play-btn-fill">YouTube</i>
            </div>
            <p>
                © 2026 Complaint Management System
            </p>
        </div>
    </footer>
</body>
</html>
